<div>
    <h2 id="page-heading">
        <span jhiTranslate="jemoloRoosterApp.curriculum.home.title">Curricula</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-curriculum" [routerLink]="['/curriculum/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jemoloRoosterApp.curriculum.home.createLabel">
            Create a new Curriculum
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="curricula?.length === 0">
        <span jhiTranslate="jemoloRoosterApp.curriculum.home.notFound">No curricula found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="curricula?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cv"><span jhiTranslate="jemoloRoosterApp.curriculum.cv">Cv</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="size"><span jhiTranslate="jemoloRoosterApp.curriculum.size">Size</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="urlAllegato"><span jhiTranslate="jemoloRoosterApp.curriculum.urlAllegato">Url Allegato</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mimeType"><span jhiTranslate="jemoloRoosterApp.curriculum.mimeType">Mime Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="note"><span jhiTranslate="jemoloRoosterApp.curriculum.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="attachId"><span jhiTranslate="jemoloRoosterApp.curriculum.attach">Attach</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anagraficaId"><span jhiTranslate="jemoloRoosterApp.curriculum.anagrafica">Anagrafica</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curriculum of curricula ;trackBy: trackId">
                    <td><a [routerLink]="['/curriculum', curriculum.id, 'view']">{{ curriculum.id }}</a></td>
                    <td>{{ curriculum.cv }}</td>
                    <td>{{ curriculum.size }}</td>
                    <td>{{ curriculum.urlAllegato }}</td>
                    <td>{{ curriculum.mimeType }}</td>
                    <td>{{ curriculum.note }}</td>
                    <td>
                        <div *ngIf="curriculum.attachId">
                            <a [routerLink]="['/allegato', curriculum.attachId , 'view']" >{{ curriculum.attachId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="curriculum.anagraficaId">
                            <a [routerLink]="['/anagrafica-candidato', curriculum.anagraficaId , 'view']" >{{ curriculum.anagraficaId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/curriculum', curriculum.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/curriculum', curriculum.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(curriculum)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="curricula?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
