<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="competenza">
            <h2><span jhiTranslate="jemoloRoosterApp.competenza.detail.title">Competenza</span> {{ competenza.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jemoloRoosterApp.competenza.anni">Anni</span></dt>
                <dd>
                    <span>{{ competenza.anni }}</span>
                </dd>
                <dt><span jhiTranslate="jemoloRoosterApp.competenza.anagrafica">Anagrafica</span></dt>
                <dd>
                    <div *ngIf="competenza.anagraficaId">
                        <a [routerLink]="['/anagrafica-candidato', competenza.anagraficaId, 'view']">{{ competenza.anagraficaId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jemoloRoosterApp.competenza.ambitoComp">Ambito Comp</span></dt>
                <dd>
                    <div *ngIf="competenza.ambitoCompId">
                        <a [routerLink]="['/ambito-competenza', competenza.ambitoCompId, 'view']">{{ competenza.ambitoCompId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/competenza', competenza.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
