<div>
    <h2 id="page-heading">
        <span jhiTranslate="jemoloRoosterApp.competenzeLng.home.title">Competenze Lngs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-competenze-lng" [routerLink]="['/competenze-lng/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jemoloRoosterApp.competenzeLng.home.createLabel">
            Create a new Competenze Lng
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="competenzeLngs?.length === 0">
        <span jhiTranslate="jemoloRoosterApp.competenzeLng.home.notFound">No competenzeLngs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="competenzeLngs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="livello"><span jhiTranslate="jemoloRoosterApp.competenzeLng.livello">Livello</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="linguaId"><span jhiTranslate="jemoloRoosterApp.competenzeLng.lingua">Lingua</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anagraficaId"><span jhiTranslate="jemoloRoosterApp.competenzeLng.anagrafica">Anagrafica</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let competenzeLng of competenzeLngs ;trackBy: trackId">
                    <td><a [routerLink]="['/competenze-lng', competenzeLng.id, 'view']">{{ competenzeLng.id }}</a></td>
                    <td>{{ competenzeLng.livello }}</td>
                    <td>
                        <div *ngIf="competenzeLng.linguaId">
                            <a [routerLink]="['/lingua', competenzeLng.linguaId , 'view']" >{{ competenzeLng.linguaId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="competenzeLng.anagraficaId">
                            <a [routerLink]="['/anagrafica-candidato', competenzeLng.anagraficaId , 'view']" >{{ competenzeLng.anagraficaId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/competenze-lng', competenzeLng.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/competenze-lng', competenzeLng.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(competenzeLng)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="competenzeLngs?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
