<div>
    <h2 id="page-heading">
        <span jhiTranslate="jemoloRoosterApp.dichiarazioniObligatorie.home.title">Dichiarazioni Obligatories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dichiarazioni-obligatorie" [routerLink]="['/dichiarazioni-obligatorie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jemoloRoosterApp.dichiarazioniObligatorie.home.createLabel">
            Create a new Dichiarazioni Obligatorie
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="dichiarazioniObligatories?.length === 0">
        <span jhiTranslate="jemoloRoosterApp.dichiarazioniObligatorie.home.notFound">No dichiarazioniObligatories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="dichiarazioniObligatories && dichiarazioniObligatories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jemoloRoosterApp.dichiarazioniObligatorie.stato">Stato</span></th>
                    <th scope="col" ><span jhiTranslate="jemoloRoosterApp.dichiarazioniObligatorie.anagrafica">Anagrafica</span></th>
                    <th scope="col" ><span jhiTranslate="jemoloRoosterApp.dichiarazioniObligatorie.dichiarazioni">Dichiarazioni</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dichiarazioniObligatorie of dichiarazioniObligatories ;trackBy: trackId">
                    <td><a [routerLink]="['/dichiarazioni-obligatorie', dichiarazioniObligatorie.id, 'view']">{{ dichiarazioniObligatorie.id }}</a></td>
                    <td>{{ dichiarazioniObligatorie.stato }}</td>
                    <td>
                        <div *ngIf="dichiarazioniObligatorie.anagraficaId">
                            <a [routerLink]="['/anagrafica-candidato', dichiarazioniObligatorie.anagraficaId , 'view']" >{{ dichiarazioniObligatorie.anagraficaId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="dichiarazioniObligatorie.dichiarazioniId">
                            <a [routerLink]="['/dichiarazioni', dichiarazioniObligatorie.dichiarazioniId , 'view']" >{{ dichiarazioniObligatorie.dichiarazioniId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/dichiarazioni-obligatorie', dichiarazioniObligatorie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/dichiarazioni-obligatorie', dichiarazioniObligatorie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(dichiarazioniObligatorie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
